.topnav-centered a {
    float: none;
    position: absolute;
    margin-top: 30px;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
}

.topnav-right {
    float: right;
}

.topnav-right button {
    margin-top: 10px;
    margin-right: 10px;
  }

  mat-tab-group {
    margin-top: 50px;
  }
